<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <!-- fonts -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="./assets/favicon/favicon-64x64.svg"
    />
    <title>Frontend Mentor | QR code component</title>

    <!-- styles -->
    <link
      rel="stylesheet"
      href="style.css"
    />
    <style></style>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <img
          class="qr-code"
          src="./assets/images/image-qr-code.png"
          alt="qrCode image"
        />
        <div class="title">Improve your front-end skills building projects</div>

        <div class="description">Scan the QR code to visit Frontend Mentor and take your codings kills to the next level</div>
      </div>

      <div class="attribution">
        Challenge by
        <a
          href="https://www.frontendmentor.io?ref=challenge"
          target="_blank"
          rel="noopener noreferrer"
          >Frontend Mentor</a
        >. Coded by
        <a
          href="https://github.com/mgckaled"
          target="_blank"
          rel="noopener noreferrer"
          >mgckaled</a
        >
      </div>
    </div>
  </body>
</html>

