* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --white: hsl(0deg 0% 100%);
  --light-gray: hsl(212deg 45% 89%);
  --grayish-blue: hsl(220deg 15% 55%);
  --dark-blue: hsl(218deg 44% 22%);
}

html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
  background-color: var(--light-gray);
  font-size: 1.5rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  font-size: 1.1rem;
  text-align: center;
  color: hsl(228deg 45% 44%);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.container .card {
  width: 85%;
  max-width: 32rem;
  padding: 1.5rem 1.5rem 4rem;
  background-color: var(--white);
  border-radius: 1.8rem;
  box-shadow: 0 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 2%), 0 1rem 1rem 1rem rgb(0 0 0 / 2%);
}

.container .card .qr-code {
  width: 100%;
  border-radius: 1.2rem;
}

.container .card .title {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
  margin-top: 2rem;
}

.container .card .description {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--grayish-blue);
  text-align: center;
  margin-top: 1.5rem;
}

.container .attribution {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
}
