// Colors
$dark-blue: hsl(233deg 26% 24%);
$lime-green: hsl(136deg 65% 51%);
$bright-cyan: hsl(192deg 70% 51%);
$grayish-blue: hsl(233deg 8% 62%);
$light-grayish-blue: hsl(220deg 16% 96%);
$very-light-gray: hsl(0deg 0% 98%);
$white: hsl(0deg 0% 100%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
