<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <link
      rel="icon"
      type="image/png"
      href="./assets/favicon/favicon.svg"
    />
    <title>EasyBank</title>

    <link
      rel="stylesheet"
      href="./dist/style.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="overlay has-fade"></div>

      <nav class="container flex flex-js-sb flex-ai-c">
        <a
          href="/"
          class="header-logo"
        >
          <img
            src="./assets/images/logo.svg"
            alt="Easybank logo"
          />
        </a>

        <a
          id="btn-hamburger"
          href="#"
          class="header-toggle open hide-for-desktop"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>

        <div class="header-links hide-for-mobile">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
          <a href="#">Blog</a>
          <a href="#">Carrers</a>
        </div>

        <a
          href="#"
          class="button header-cta hide-for-mobile"
          >Request Invite</a
        >
      </nav>

      <div class="header-menu has-fade">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Blog</a>
        <a href="#">Carrers</a>
      </div>
    </header>
    <main>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus earum nemo ipsam neque in ducimus sequi fugiat quo,
      veniam vero nostrum deserunt, odio recusandae officia velit. Repudiandae, perspiciatis. Doloribus, fuga!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, eveniet error mollitia ab, numquam beatae quaerat, fuga ipsum rerum fugiat officia quis sunt rem molestiae aliquid nostrum magni aliquam? Eum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, velit. Nemo exercitationem quis corporis iure suscipit quidem autem ullam non, delectus fugit beatae blanditiis temporibus soluta nam. Natus, quaerat maxime.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aut quaerat sit expedita ratione? Voluptate accusamus rem explicabo incidunt, totam maiores veritatis quasi? Porro deleniti cumque quaerat doloremque ex magni!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque animi ratione vel. Assumenda illum eos reprehenderit molestias sapiente est doloribus porro consectetur! Perspiciatis, fugit reprehenderit facilis maiores voluptatum id culpa!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur asperiores magnam aperiam alias obcaecati maxime iure nam esse molestiae delectus iste, in quis eligendi sequi ullam totam soluta? Perferendis, voluptate!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam maiores accusamus voluptatibus cupiditate magni ut esse ad vero voluptatem impedit qui, soluta assumenda repudiandae rerum blanditiis voluptate? Itaque, sequi neque?
    </main>

    <script src="./app/js/script.js"></script>
  </body>
</html>
